<div class="congrat-wrapper">
    <div class="f-20 font-weight-bold text-center">
        Congrats!
    </div>
    <div class="f-4 mt-2">
        Congratulations, you have completed the crmgrow onboarding process. Remember help is available by clicking the chat bubble in the bottom right, emailing us at <a href="mailto:support@crmgrow.com">support@crmgrow.com</a>, or participating in our Facebook group.
    </div>
    <img class="congrat-image mt-3" src="../../../assets/img/onboarding/congrat.svg">
    <mat-dialog-actions align="center">
        <button class="btn btn-primary f-6 font-weight-bold mt-2" (click)="getStarted()">
            Close
        </button>
    </mat-dialog-actions>
</div>