
:host ::ng-deep {
  .mat-option {
    max-width: unset;
    width: fit-content;
    min-width: 100%;
    // &.mat-selected {
    //   color: $color-blue;
    // }
  }
}
.dropdown-timezone {
  max-height: 250px;
  max-width: 325px;
  overflow: auto;
  background-clip: unset;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}